body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 80px;
	justify-content: flex-end;
	background-color: #1A243F;
	color: whitesmoke;
}

.krida-world {
	box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	position: absolute;
	top: 0px;
}

.addObjectsForm {
	width: 300px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 4px;
}

.addObjectsForm > input {
	min-width: 150px;
}

.addObjectsForm > button {
	width: 100%;
	border-radius: 0px;
	border: none;
	outline: none;
	padding: 5px;
	margin-top: 2px;
	cursor: pointer;
}

.addObjectsForm > button:hover {
	background-color: whitesmoke;
}